.News {
  width: 100%;
}
.NewsCourses {
  width: 100%;
  height: 52px;
  display: inline-flex;
  align-items: center;
}
.NewsCourses p {
  font-size: 16px;
  font-weight: bold;
  width: 125px;
  height: 24px;
  margin-left: 15px;
  font-weight: bold;
}

.NoNews {
  background-color: #fef6e9;
  width: 86px;
  height: 37px;
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #f5a623;
  border-radius: 8px;
}
