.ModalWrapper {
  position: fixed;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  z-index: 200;

  display: block;
  max-height: 100vh;
}
.CloseModal {
  display: none;
}
.modalContainer {
  width: 50%;
  background-color: white;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}
.modalSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  .modalContainer {
    width: 80%;
  }
}
