* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.Newsmain {
  width: 100%;
  height: auto;
}
.Newsmain h1 {
  font-size: 40px;
}
.NewsInfo {
  width: 100%;
  height: auto;
}

.Title {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.Title label {
  width: 20%;
}

.Title input {
  width: 80%;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.Date {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.Date label {
  width: 20%;
}

.Date input {
  width: 80%;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
}

.Recipient {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.Recipient label {
  width: 20%;
}

.Recipient select {
  width: 80%;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  background-color: white;
}
.Details {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.Details label {
  width: 20%;
}

.Details textarea {
  width: 80%;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  background-color: white;
  resize: none;
  height: 205px;
}

.SendBtn {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: flex-end;
}

.SendBtn button {
  width: 156px;
  height: 64px;
  border-radius: 8px;
  background-color: #0052a899;
  border: 1px solid #e0e0e0;
  color: white;
  margin-left: auto;
}

@media (max-width: 460px) {
  .Title {
    flex-direction: column;
    align-items: flex-start;
  }
  .Title label {
    width: 100%;
    margin-bottom: 10px;
  }
  .Title input {
    width: 100%;
  }

  .Date {
    flex-direction: column;
    align-items: flex-start;
  }
  .Date label {
    width: 100%;
    margin-bottom: 10px;
  }
  .Date input {
    width: 100%;
  }

  .Recipient {
    flex-direction: column;
    align-items: flex-start;
  }
  .Recipient label {
    width: 100%;
    margin-bottom: 10px;
  }
  .Recipient select {
    width: 100%;
  }

  .Details {
    flex-direction: column;
    align-items: flex-start;
  }
  .Details label {
    width: 100%;
    margin-bottom: 10px;
  }
  .Details textarea {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .MobileCon {
    display: none;
  }
}
